{% extends '_base.html' %}

{% block title %}{{ book.title }}{% endblock title %}

{% block content %}
<div class="container mt-5">
    <div class="row d-flex justify-content-center">
        <div class="card mb-3" style="max-width: 100%;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="{{ book.picture }}" class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ book.title }}</h5>
                        <p class="card-text"><small class="text-muted">Ecrit par {{ book.author }}</small></p>
                        <hr>
                        <p class="card-text">{{ book.plot }}</p>
                        <hr>
                        <p>Buy for {{ book.price }}</p>
                        {% if user.is_authenticated %}
                        <form action="{% url 'charge' %}" method="post">
                            {% csrf_token %}
                            <input class="d-none" type="text" value="{{ book.title }}" name="description">
                            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                    data-key="{{ stripe_key }}"
                                    data-description="{{ book.title }}"
                                    data-amount="{{ book.price }}"
                                    data-locale="auto"
                                    data-label="Buy {{ book.title }}">
                            </script>
                        </form>
                        {% else %}
                        <div class="alert alert-light" role="alert">
                            You have to be logged to purchase, go to the <a class="alert-link" href="{% url 'account_login' %}">login page</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}